@font-face {
    font-family: "railway-bold";
    src: url("assets/fonts/Raleway-Bold/raleway/Raleway-Bold.ttf") format("opentype");
}
@font-face {
    font-family: "railway-extrabold";
    src: url("assets/fonts/Raleway-Bold/raleway/Raleway-ExtraBold.ttf") format("opentype");
}

:root{
    --header-p: rgb(233, 224, 224);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
}

.container{
    max-width: 1124px;
    margin: 30px auto;
}

header::before{ 
    content: '';
    background-color: #636C79;
    height: 800px;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

header{
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items{
    display: flex;
    gap: 30px;
    text-decoration: none;
    color: var(--header-p);
    font-size: 18px;
}

.nav-item{
    cursor: pointer;
}

.nav-talk-btn{
    padding: 10px 40px;
    background-color: transparent;
    border: 1px solid rgb(133, 132, 132);
    color: #fff;
    font-size: 18px;
}
input::placeholder{
    font-size: 20px;
}

.header-hero{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 90px 50px 40px 20px;
    gap: 50px;
}

.hero-left, .hero-right{
    width: 50%;
}

.hero-left{
    background: url("./assets/hero-section-img.jpg") no-repeat center;
    height: 100%;
    background-size: cover;
    background-position: center
}

.header-head{
    font-size: 55px;
    color: #fff;
    font-family: 'railway-bold';
    line-height: 1.4;
    letter-spacing: 1.3px;
}

.header-text{
    color: var(--header-p);
    padding: 30px 0px;
}

.header-input-email{
    padding-left: 43px;
    background: url(assets/email.jpg) no-repeat left;
    background-size: 40px;
    background-color: #fff!important;
    padding-top: 38px;
    padding-bottom: 30px;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header-input-submit{
    position: relative;
    bottom: 75px;
    left: 342px;
    color: #fff;
    padding: 15px 30px;
    background-color: #8BB7A2;
    border: none;
    font-size: 20px;

}
